
The next are 5 tool tips
1 ^Adicionar uma nova pessoa^
2 ^Deletar pessoa selecionada^
3 ^Editar pessoa selecionada^
4 ^Aceitar mudanças^
5 ^Cancelar^

6 ^Deletar personagem?^
7 ^Tem certeza de que deseja excluir este personagem?^

8 ^Cancelar?^
9 ^Tem certeza de que deseja cancelar e perder essa família?^

// not actually used yet, but will be:
10 ^Projete uma família^
11 ^Pronto^
12 ^Cancelar^

13 ^Colocar ultimo nome:^

14 ^Terminado?^
15 ^Tem certeza de que você acabou? Você não pode voltar para a tela de Projete uma família para editar esta família novamente.^