
tooltips

^Adulto^
^Criança^
^Mulher^
^Homem^
^Escuro^
^Médio^
^Claro^
^Corpo anterior^
^Proximo corpo^
^cabeça anterior^
^Proxima cabeça^
^Pronto^
^Cancelar^

^Sem personalidade!^
^Tem certeza que deseja criar %s sem personalidade?^

// not actually used yet, but will be:
^Criar um personagem^
^Personalidade^
^Puro^
^extrovertido^
^Ativo^
^Brincalhão^
^Agradavel^
^Pronto^
^Cancelar^
^Biografia^
^Biografia para %s^

^Colocar nome:^
^astrológico Signo^