^Comprar casa?^
^Tem certeza de que quer comprar esta casa?^

^Desculpe!^
^Esta família não pode pagar esta casa.^

^Parabens!^
^Você comprou.^

^Comprar lote?^
^Você quer comprar este lote?^

^Comprar Pre-feita?^
^Você quer comprar uma casa Pre-feita?^

^Desculpe^
^Primeiro você deve colocar esta família em uma casa^

^Espaço comunitario^
^Você não pode colocar uma família em espaço comunitário.^

^Casa ocupada^
^Esta casa é ocupada por outra família.^

^Casa de tutorial^
^Esta é uma casa de tutorial.  As famílias podem se mover para ele.^

^Erro!^
^Não foi possível mover!^

^Casa Cheia^
^Esta casa está cheia demais para você entrar neste momento.^