
Strings 1-3 are used for the different states of the dispose popup. In each string, a carriage return separates the lines, and the object's name is substituted for % characters, and the object's cost for $ characters.

1 - no refund.
^Pressione o botão "Delete" ou clique aqui
de dispor de %.^

2 - refund
^Pressione o botão "Delete" ou clique aqui 
para vender % por $.^

3 - un-deleteable stuff, like trash can.
^% não pode ser excluído.^

Next 3 are the same, but used in build mode
^Pressione o botão "Delete" ou clique aqui
de dispor de %. <BUILD MODE>^

2 - refund
^Pressione o botão "Delete" ou clique aqui
para vender % por $.<BUILD MODE>^

3 - un-deleteable stuff, like trash can.
^% não pode ser excluído.<BUILD MODE>^
